@import "globals";

nav.menu {
  background-color: $purple-rain;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 1em);
  font-size: 2em;
  padding: .15em;
  display: flex;
  justify-content: space-around;

  a {
    color: yellow;
  }
}


@-moz-document url-prefix() {
  progress {
    display: none;
  }
}

div.show-errors {

  width: 100%;

  div {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    background-color: red;
    color: black;
    font-family: verdana, sans-serif;
    display: flex;
    justify-content: space-between;

    svg {
      font-size: 2em;
      position: relative;
      top: 9px;
      right: 9px;
    }
  }
}

form.add-shader-form {
  font-family: Verdana, sans-serif;
  width: 70%;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  height: calc(100% - 12em);

  >label,
  div {
    margin: 1em 0;

  }

  label {
    font-size: 1.5em;
    text-shadow: 3px 3px 10px $purple-rain;
    height: 10px;
    font-weight: bold;
  }

  input[type="text"] {
    font-size: 1.5em;
    padding: .25em;
    border-radius: .2em;
    outline: none;
    min-height: 36px;
  }

  input[type="checkbox"] {
    transform: scale(2);
    margin: 0;
    padding: 0;
    margin-right: 2em;
  }

  div>label {
    position: relative;
    top: 2px;
  }

  .autocomplete {
    position: relative;
    input {
      width: calc(100% - .75em);
    }

    span {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 2em;
    }

    .suggestions {
      position: absolute;
      top: 2em;
      left: 0;
      width: auto;
      height: auto;
      max-height: 200px;
      background-color: yellow;
      overflow-y: scroll;
      z-index: 3;



      p {
        padding: 1em;
        margin: 0;

        &:hover {
          background-color: yellow;
        }
      }

      &:empty {
        display: none;
      }
    }
  }

  button {
    margin: auto;
    width: 100%;
    font-size: 2em;
    background-color: $purple-rain;
    font-weight: bold;
    color: yellow;
    padding: 5px;
  }

}